@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Montserrat";
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Roboto";
    src: url(/fonts/Roboto/Roboto-Black.ttf);
    font-weight: 900;
}
header{
    font-family: "Roboto";
}
a:hover{
    text-decoration: none !important;
}
.w-87{
    width: 87%;
}
.mt-100{
    margin-top: 100px;
}
.w-95{
    width: 95%;
}
.header{
    background-color:#000000 ;
}
.header .sub-header .box-logo{
    width: 20%;
}
.header .sub-header .logo{
    max-width: 130px;
}
.header .sub-header{
    padding: 12px 0;
}
.header .sub-header .contact-header{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    width: 45%;
}
.header .sub-header .contact-header .phone{
    width: 25%;
}
.header .sub-header .contact-header .phone img{
    width: 20px;
}
.header .sub-header .contact-header .facebook{
    width: 25%;
}
.header .sub-header .contact-header .facebook img{
    width: 23px;
    margin-top: -2px;
}
.header .sub-header .sign-in .introduct img{
    width: 24px;
    margin-top: -2px;
}
.header .sub-header .contact-header .email{
    width: 40%;
}
.header .sub-header .contact-header .email img{
    width: 25px
}
.header .sub-header .sign-in{
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    width: 35%;
}
.header .sub-header .sign-in .introduct{
    width:40%
}
.header .sub-header .sign-in .login{
    /*margin-right: 43px;*/
    width: 30%
}
.header .sub-header .sign-in .register{
    /*border: 2px solid #FFFFFF;*/
    /*box-sizing: border-box;*/
    width:30%
}
.header .sub-header .sign-in .register a{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 12px 22px;
}

.banner {
    background-image: url("/img/web/home/banner.png");
    background-size:cover;
    height: 100%;
}
.banner .box-banner{
    width: 68%;
    margin: auto;
    padding-bottom: 130px;
}
.banner .box-banner .title {
    padding: 50px 0 25px 0;
}

.banner .form-hana .left{
    width: 30%;
    /*margin: auto;*/
    /*text-align: center;*/
}
.banner .form-hana .left .active{
    background-color: rgba(0, 0, 0, 0.4);
    border-right: 3px solid #fff;
}
.banner .form-hana .right{
    width: 70%;
    background-color: rgba(0, 0, 0, 0.8);
}
.banner .form-hana{
    background-color: rgba(0, 0, 0, 0.4);
}
.banner .form-hana .box-form{
    padding: 31px 0;
}
.banner .form-hana .box-form .ct_form_hana{
    width: 92%;
    margin: auto;
}
.banner .form-hana .box-form .ct_form_hana .boxcar{
    width: 86px;
    height: 86px;
    border-radius: 50%;
    background: #fff;
    margin: 40px auto;
}
.banner .form-hana .box-form .ct_form_hana .car h5{
   font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    font-family: "Roboto";
    margin-top: -20px;
}
.banner .form-hana .box-form .ct_form_hana .box1 img{
   margin-top: 27px;
}
.banner .form-hana .box-form .ct_form_hana .box2 img{
    margin-top: -6px;
}
.banner .box-banner .title h1 {
    font-style: italic;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    text-transform: uppercase;
    color: #f28f01;
    text-shadow: rgb(255, 255, 255) 3px 0px 0px,
    rgb(255, 255, 255) 2.83487px 0.981584px 0px,
    rgb(255, 255, 255) 2.35766px 1.85511px 0px,
    rgb(255, 255, 255) 1.62091px 2.52441px 0px,
    rgb(255, 255, 255) 0.705713px 2.91581px 0px,
    rgb(255, 255, 255) -0.287171px 2.98622px 0px,
    rgb(255, 255, 255) -1.24844px 2.72789px 0px,
    rgb(255, 255, 255) -2.07227px 2.16926px 0px,
    rgb(255, 255, 255) -2.66798px 1.37182px 0px,
    rgb(255, 255, 255) -2.96998px 0.42336px 0px,
    rgb(255, 255, 255) -2.94502px -0.571704px 0px,
    rgb(255, 255, 255) -2.59586px -1.50383px 0px,
    rgb(255, 255, 255) -1.96093px -2.27041px 0px,
    rgb(255, 255, 255) -1.11013px -2.78704px 0px,
    rgb(255, 255, 255) -0.137119px -2.99686px 0px,
    rgb(255, 255, 255) 0.850987px -2.87677px 0px,
    rgb(255, 255, 255) 1.74541px -2.43999px 0px,
    rgb(255, 255, 255) 2.44769px -1.73459px 0px,
    rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}
.banner .form-hana .right .form{
    padding-left: 30px;
    padding-top: 34px;
    padding-right: 30px;
}
.banner .form-hana .right .form .fa-map-marker{
    font-size:28px !important;
    color:#E5C300 !important;
    margin-top: -7px;
}
.banner .form-hana .right .form .name_search{
    font-size: 14px;
    font-family: "Roboto";
    font-weight: bold;
    line-height: 16px;
    color: #E5C300;
    margin-bottom: 8px !important;
}
.banner .form-hana .right .form select.province{
    width: 125px !important;
}
.banner .form-hana .right .form select.distinct{
    width: 145px !important;
}
.banner .form-hana .right .form select.town{
    width: 130px !important;
    margin-left: 20px;
}
.banner .form-hana .right .form select.date_to{
    width: 140px !important;
}
.banner .form-hana .right .form select{
  background: rgba(0, 0, 0, 0) !important;
    color: white !important;
    border-radius: unset !important;
    border: unset !important;
}
.banner .form-hana .right .form select:focus{
  box-shadow: unset !important;
}
.banner .form-hana .right .form form .form-row{
    border-bottom: 1px solid white;
    margin-bottom: 25px;
}
.banner .form-hana .right .form form .form-group{
    margin-bottom: 0.5rem !important;
}
.banner .form-hana .right .form form .form-group .form-control{
    padding: 0 ;
}
.banner .form-hana .button_form .search_hana {
    width: 100%;
    background: #FFFFFF !important;
    border-color: #fff;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 19px;
    line-height: 22px;
    color: #E5C300;
    padding: 14px;
}
.banner .form-hana .date_form {
    border: unset;
    background: unset;
    color: white;
    width: 125px ;
}
.banner .form-hana .date_form:focus {
    outline: none;
}
.banner .form-hana .fa-angle-down  {
    margin-top: 5px;
    font-weight: 600;
}
.banner .form-hana .right .form select.hour_to{
    width: 100px !important;
    padding-left: 20px !important;
}



/*=======================================*/
.feature{
    padding-top: 80px;
    font-family: "Roboto";
    width: 79%;
}
.feature h5{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #777572;
}
.feature .list-feature{
    padding-top: 34px;
}
.feature .list-feature .img_feature{
    padding: 0 7px;
}

/*//==========*/
.instruct{
    width: 92%;
    border: 3px dashed #E5C300;
}
.box-steps{
    margin-top: 150px;
}
.instruct .box-content{

}
.instruct .title_instruct{
    background: #fff;
    width: 430px;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}
.instruct .title_instruct h3{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 27px;
    line-height: 32px;
    color: #000000;
}
.instruct .list-steps{
   width: 90%;
    margin: auto;
    padding: 51px 0;
}
.instruct .list-steps .step{
    padding: 0 30px;
}
.instruct .list-steps .step h5{
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #777572;
    padding-top: 27px;
}
.instruct .box-content .more-step{
    position: absolute;
    bottom: 0;
    right: 7%;
    transform: translate(0,50%);
}
.instruct .box-content .more-step a{
    background: #E5C300 !important;
    border-radius: 5px;
    font-family: "Roboto";
}
.position{
    width: 66%;
    padding-top: 100px;
}
.position .img_position:last-child{
    padding-left: 20px;
    padding-right: 0px;
}
.position .img_position:first-child{
    padding-right: 20px;
    padding-left: 0px;
}
.position h4{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #777572;
    padding-bottom: 20px;
}
.position .list-position .text{
    bottom: 5%;
    left: 5%;
    font-family: "Roboto";
}
.position .list-position .text:last-child{
    left: 10%;
}
.position .list-position .text h5{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}
.position .list-position .text p{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}

.banner_regis{
    padding-top: 70px;
    font-family: "Roboto";
}
.banner_regis .text_regis{
    width: 30%;
    top: 55%;
    right: 0;
    transform: translate(-20%,-50%);
}
.banner_regis .text_regis .act_regis_home .btn_info_home{
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
    background: #FFFFFF !important;
    border-radius: 5px;
}
.banner_regis .text_regis .act_regis_home .btn_regis_home{
    font-size: 16px;
    line-height: 30px;
    font-weight: 600;
    color: #fff;
    background: #E5C300 !important;
    border-radius: 5px;
    padding: .365rem 20px;
}
.banner_regis .text_regis h2{
    font-weight: 900;
    font-size:39px;
    line-height:46px ;
    margin-bottom: 20px;
}
.banner_regis .text_regis p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 35px;
}

.car_section {
    padding-top: 80px;
    font-family: "Roboto";
    width: 79%;
}
.car_section h5{
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #777572;
}
.car_section .list-car{
    padding-top:15px
}
.car_section .list-car .img_car {
    padding: 0 7px;
}
.car_section .info_car .star {
    background: linear-gradient(to right,#fc3 70%,#ccc 70%);
    color: transparent;
    font-size: 25px;
    padding-right: 20px;
    -webkit-background-clip: text;
}
.car_section .list-car .info_car h5 {
    font-weight: 900;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    padding-top: 13px;
}
.car_section .list-car .info_car span.num_trip {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #777572;
    margin-top: 7px;
}

.car_section .list-car .info_car .btn_more_car {
    background: #E8EAEF;
    color: #777572;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 9px;
}

.car_section .list-car .info_car .rating {
    margin-top: -10px;
}

.car_section .list-car .info_car .mapping i {
    color: #DADADA;
}

.car_section .list-car .info_car .mapping span {
    font-size: 12px;
    line-height: 19px;
    color: #777572;
}


.testimonial{
    font-family: "Roboto";
    background-image: url("/img/web/home/bg_testimonial.png");
    background-size:cover;
    height: 100%;
}
.testimonial .title_feedback{
    width: 79%;
    padding: 35px 0  15px 0;
    margin: 0 auto 85px auto;
}
.testimonial .title_feedback h4{
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.testimonial .title_feedback p{
    font-size: 15px;
    line-height: 17px;
    color: #57575A;

}
.testimonial .content{
    width: 79%;padding-bottom: 50px;
}
.testimonial .box .img{
    width: 120px;
}
.testimonial .box .img img{
    border-radius: 50%;
}
.testimonial .box .feedback{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.testimonial .box .feedback .img{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.testimonial .box .feedback .text_feedback{
    padding: 79px 20px 10px 20px;
}
.testimonial .box .feedback .text_feedback p{
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #57575A;
}

.blogs{
    width: 80%;
    font-family: "Roboto";
    margin: 80px auto 50px auto;
}
.blogs .title_blog{
    padding-bottom: 30px;
}

.blogs .title_blog h3{
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    color: #000000;
}
.blogs .content_blog .des{
    bottom: 0;
    left: 0;
    background: black;
    width: 100%;
    opacity: 0.6;
    min-height: 100px;
}

.blogs .content_blog .des1 {
    left: 2.5%;
    width: 95%;
}
.blogs .content_blog .des3 {
    width: 99%;
}

element.style {
}
.blogs .content_blog .des4 {
    left: 2%;
    width: 98%;
}
.blogs .content_blog .des h5{
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
}
.blogs .text_blog{
    bottom: 0;
    left: 5%;
    width: 90%;
}
.blogs .text_blog h5{
    font-size: 19px;
    line-height: 22px;
    font-weight: 500;
}
.blogs .sub-blog1 h5{
    font-size: 17px !important;
}
.blogs .sub-blog2 h5,.blogs .sub-blog3 h5{
    font-size: 16px !important;
}
.blogs .content_blog img{
    border-radius: 5px 5px 0 0;
}




/* ============================================ Responsive ====================================== */
/* responsive */

@media (max-width: 1800px) {

}

@media (max-width: 1440px) {
    .banner .box-banner .title {
        padding: 30px 0 10px 0;
    }
    .banner .box-banner {
        padding-bottom: 35px;
    }
}
@media (max-width: 1350px) {
    .banner .box-banner {
        width: 85%;
    }
}
@media (max-width: 1200px) {
    .w-87{
        width: 90%;
    }
    .header .sub-header .contact-header .email{
        display: none;
    }
    .header .sub-header .contact-header .facebook {
        width: 40%;
    }
    .header .sub-header .contact-header .phone {
        width: 40%;
    }
    .header .sub-header .sign-in .introduct {
        display: none;
    }
    .header .sub-header .sign-in .register {
        width: 40%;
    }
    .header .sub-header .sign-in .login {
        width: 30%;
    }
    .header .sub-header .contact-header {
        margin-left: 100px;
    }
    .banner .box-banner {
        width: 85%;
    }
    .banner .form-hana .box-form .ct_form_hana {
        width: 100%;
    }
    .banner_regis .text_regis h2{
        font-size:30px;
        line-height: 40px;
    }
    .testimonial .content{
        width: 95%;
    }
    .blogs .content_blog .des1 {
        left: 3.5%;
        width: 93%;
    }
}
 /*MAIN*/


@media (max-width: 992px) {
    .banner {
        background-position: center;
    }
    .banner .form-hana .left{
        width: 100%;
    }
    .banner .form-hana .right{
        width: 100%;
    }
    .banner .form-hana .left .car{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.4);
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar{
        margin:20px 0;
    }
    .banner .form-hana .box-form .ct_form_hana .car h5{
        font-size: 20px;
        margin-top: 0;
        margin-left: 20px;
    }
    .banner .form-hana .left .active{
        border-bottom: 3px solid #fff;
        border-right: 0;
        background: rgba(0, 0, 0, 0.8);
    }
    .banner .form-hana{
        background:unset;
    }
    .banner .form-hana .box-form .ct_form_hana .button_form{
       padding-bottom: 30px;
    }
    .position {
        width: 85%;
        padding-top: 70px;
    }
    .banner_regis .text_regis h2 {
        font-size: 25px;
        line-height: 35px;
        margin-bottom: 10px;
    }
    .banner_regis .text_regis p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .banner_regis .text_regis{
        width: 35%;
    }
}

@media (max-width: 768px) {
    .banner .box-banner{
        width: 100%;
    }
    .banner .form-hana .box-form {
        padding: 5px 31px;
    }
    .banner .box-banner .title h1{
        font-size: 42px;
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar {
        width: 70px;
        height: 70px;
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar {
        margin: 15px 0;
    }
    .banner .form-hana .box-form .ct_form_hana .car h5{
        font-size: 18px;
    }
    .feature {
        padding-top: 50px;
    }
    .feature .list-feature {
        padding-top: 20px;
    }
    .feature {
        width: 95%;
    }
    .position {
        width: 90%;
        padding-top: 50px;
        padding-bottom:30px
    }
    .position .img_position{
        padding:0 !important;
    }
    .banner_regis img{
        display: none;
    }
    .banner_regis{
        background-image: url("/img/web/home/banner_regis.png");
        background-size: cover;
    }

    .banner_regis .text_regis {
        position: unset !important;
        width: 70%;
        margin: auto;
        top: 0;
        right: 0;
        transform: unset;
        padding-bottom: 50px;
    }
    .car_section {
        width: 95%;
    }
    .car_section .carousel-control-next{
        top: -30% !important;
        right:-7% !important;
        opacity: 0.9 !important;
    }
    .car_section .carousel-control-prev{
        top: -30% !important;
        left: -7% !important;
        opacity: 0.9 !important;
    }
    .car_section .div-icon-next {
        width: 25px;
        height: 25px;
        background: #E5C300;
        border-radius: 50%;

    }
    .car_section {
        padding-top: 50px;
    }
    .mt-100{
        margin-top: 0;
    }
    .testimonial .title_feedback{
        margin: auto;
    }
    .testimonial .box{
       padding-top: 65px;
    }
    .testimonial .box .feedback{
        margin-bottom: 70px;
    }
    #carouselYKKH{
        width: 80% !important;
        margin: auto;
    }
    .carousel-indicators li{
        width: 10px !important;
        height: 10px !important;
        border-radius: 50%;
        margin-right: 10px !important;
    }
    .carousel-indicators .active{
        background-color:#E5C300 !important ;
        width: 12px !important;
        height: 12px !important;
    }
    .testimonial .div-icon-next {
        width: 25px;
        height: 25px;
        background: #E5C300;
        border-radius: 50%;
    }
    .carousel-control-next, .carousel-control-prev{
        opacity: 0.9 !important;
    }
    .carousel-control-prev{
        left: -4% !important;
    }
    .carousel-control-next{
        right: -4% !important;
    }
    .blogs {
        width: 95%;
        margin: 70px auto 50px auto;
    }
    .blogs .content_blog .des1 {
        left: 0;
        width: 100%;
    }
    #carouselBlogs .more_blog{
        padding-top: 20px;
    }
    #carouselBlogs .more_blog a{
        font-size: 14px;
        line-height: 16px;
        color: #777572;
        text-decoration: underline;
    }
    #carouselBlogs .carousel-indicators li{
        background-color: #D4D4D4 ;
    }
    #carouselBlogs .carousel-indicators{
        bottom: -30%;
    }
}

@media (max-width: 621px) {

}

@media (max-width: 576px) {
    .banner .box-banner .title h1{
        font-size: 35px;
    }
    .banner .form-hana .right .form select.province{
        width: 110px !important
    }
    .banner .form-hana .right .form select.distinct{
        width: 125px !important;
    }
    .banner .form-hana .date_form{
        width: 110px !important;
    }
    .header .sub-header .logo{
        min-width: 115px;
    }
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
    .banner .form-hana .right .form select.hour_to{
        padding-left: 40px !important;
    }
    .icon_hour_mobi{
        margin-top: -10px !important;
    }
    .instruct {
        border: 2px dashed lightskyblue;
    }
    .instruct .title_instruct{
        width: 400px;
    }
    .instruct .title_instruct h3{
        font-size: 25px;
    }
    .testimonial .title_feedback h4{
        font-size: 25px;
    }
    .feature h5{
        margin-left: 5px;
    }
    #carouselCar,#carouselCarLove,#carouselBlogs{
        width: 95%;
    }

}

@media (max-width: 500px) {
    .banner .form-hana .box-form{
        padding: 5px 17px;
    }
    .banner .box-banner .title h1{
        font-size: 33px;
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar {
        width: 50px;
        height: 50px;
    }
    .banner .form-hana .box-form .ct_form_hana .box1 img {
        margin-top: 17px;
    }
    .banner .form-hana .box-form .ct_form_hana .box2 img {
        margin-top: 0;
    }
    .banner .form-hana .box-form .ct_form_hana .car h5 {
        font-size: 14px;
    }
    .banner .form-hana .box-form .ct_form_hana .boxcar {
        margin: 10px 0;
    }
    .banner .form-hana .right .form select{
        font-size: 14px;
    }
    .banner .form-hana .right .form .fa-map-marker{
        font-size: 18px !important;
    }
    .banner .form-hana .right .form form .form-group{
        margin-right: 15px;
    }
    .banner .form-hana .button_form .search_hana{
        font-size: 16px;
        padding: 7px;
    }
    .banner .box-banner .title{
        padding: 20px 0 0 0;
    }
    .instruct .title_instruct h3{
        font-size: 20px;
    }
    .instruct .title_instruct{
        width: 300px;
    }
    .banner_regis .text_regis{
        width: 87%;
    }
    .banner_regis .text_regis h2{
        margin-bottom: 20px;
    }
    .banner_regis .text_regis p{
        font-size: 16px;
    }
    .testimonial .box .feedback{
        margin-bottom: 50px;
    }
    #carouselYKKH{
        width: 95% !important;
        margin: auto;
    }
    .blogs .text_blog h5 , .blogs .text_blog p {
        font-size: 16px;
        line-height: 19px;
    }
    .blogs .content_blog img {
        border-radius: 0;
    }
    .blogs {
        margin: 53px auto 50px auto;
    }
    #carouselBlogs .more_blog a{
        font-size: 14px;
        line-height: 16px;
        color: #777572;
    }
}
@media (max-width: 450px) {
    .car_section{
        padding-top: 30px;
    }
}
@media (max-width: 400px) {
    .icon_hour_mobi{
       padding-left: 15px;
    }
}