@font-face {
    font-family: "SF Pro Text";
    src: url(fonts/FontsFree-Net-SFProText-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "SF Pro Text";
    src: url(fonts/FontsFree-Net-SFProText-Regular.ttf);
    font-weight: 400;
}
.top{
    padding: 20px !important;
    background: #fff;
}
body{
    background: #e1e8ed !important;
}
main{
    position: relative;
}
.content{
    position: absolute;
    top: 85%;
}
.box{
    background: #f5f8fa;
    width: 90%;
    margin: auto;
    border-radius: 16px;
    padding-top: 30px;
    box-shadow: 0px 2px 5px -1px rgba(0,0,0,0.46);
}
.pack{
    width: 65%;
    text-align: right;
    padding: 5px 30px 5px 0;
}
.pack1{
    background: #FFCC00;
}
.pack2{
    background:  #36BFC7;
}
.pack3{
    background:  #1786CB;
}
.imgpack{   
    width: 35%;
    position: absolute;
    left: 60%;
    top: -33px;
}
.imgpack h1{
    font-size: 100px;
    font-weight: 700;
    font-style: italic;
}
.imgpack .e0{
    color: #DE7A00;
    text-shadow: 4px 3px 0px #FFCC00;
}
.imgpack .e1{
    color: #008E96;
    text-shadow: 4px 3px 0px #36BFC7;
}
.imgpack .e7{
    color: #002C5A;
    text-shadow: 4px 3px 0px #1786CB;
}
.pack p{
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 5px;
    font-family: "SF Pro Text";
}
.pack h5{
    font-size: 20px;
    font-family: "SF Pro Text";
    font-style: italic;
}
.pack h5.h51{
    color: #005487;
    font-weight: bold;
}
.pack h5.h52{
    color: #FFFF50;
    font-weight: bold;
}

.pack h5.h53{
    color: #FFFF50;
    font-weight: bold;
}


.box .bd ul{
    list-style: none;
    padding:0 15px 0 20px
}
.box .bd ul li{
   display: flex;
   align-items: flex-start;
   font-weight: 400;
   font-family: "SF Pro Text";
}
.box .bd ul li img{
    margin: 7px 5px 0 0;
 }
 .footer .pfirst{
     font-size: 16px;
     color: #354A54;
 }
 .footer{
     padding-top: 60px;
 }
 .footer .plast{
     padding-top: 60px;
 }